In [1]:
import numpy as np
import pandas as pd

In [2]:
df1 = pd.read_csv("2004-2005.csv")
df2 = pd.read_csv("2005-2006.csv")
df3 = pd.read_csv("2006-2007.csv")
df4 = pd.read_csv("2007-2008.csv")
df5 = pd.read_csv("2008-2009.csv")
df6 = pd.read_csv("2009-2010.csv")
df7 = pd.read_csv("2010-2011.csv")
df8 = pd.read_csv("2011-2012.csv")
df9 = pd.read_csv("2012-2013.csv")
df10 = pd.read_csv("2013-2014.csv")
df11 = pd.read_csv("2014-2015.csv")
df12 = pd.read_csv("2015-2016.csv")
df13 = pd.read_csv("2016-2017.csv")
df14 = pd.read_csv("2017-2018.csv")
df15 = pd.read_csv("2018-2019.csv")
df16 = pd.read_csv("2019-2020.csv")
df17 = pd.read_csv("2020-2021.csv")
df18 = pd.read_csv("2021-2022.csv")

In [3]:
df1

,Div,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,...,HST,AST,HF,AF,HC,AC,HY,AY,HR,AR
0,E0,14/08/04,Aston Villa,Southampton,2,0,H,2,0,H,...,5,2,14,9,12,6,0,0,0,0
1,E0,14/08/04,Blackburn,West Brom,1,1,D,0,1,A,...,4,2,15,17,4,5,1,0,0,0
2,E0,14/08/04,Bolton,Charlton,4,1,H,2,0,H,...,11,5,10,12,9,5,1,1,0,0
3,E0,14/08/04,Man City,Fulham,1,1,D,1,0,H,...,5,2,14,12,9,4,0,2,0,0
4,E0,14/08/04,Middlesbrough,Newcastle,2,2,D,0,1,A,...,8,4,16,13,6,7,3,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375,E0,15/05/05,Man City,Middlesbrough,1,1,D,0,1,A,...,5,3,12,15,10,3,2,4,0,0
376,E0,15/05/05,Newcastle,Chelsea,1,1,D,1,1,D,...,4,7,11,17,6,4,4,4,0,0
377,E0,15/05/05,Southampton,Man United,1,2,A,1,1,D,...,3,8,14,13,5,3,1,2,0,0
378,E0,15/05/05,Tottenham,Blackburn,0,0,D,0,0,D,...,7,8,10,14,5,7,2,2,0,0
379,E0,15/05/05,West Brom,Portsmouth,2,0,H,0,0,D,...,5,2,12,13,6,1,0,1,0,0

In [4]:
df = pd.concat([df1, df2, df3, df4, df5, df6, df7, df8, df9, df10, df11, df12, df13, df14, df15, df16, df17, df18])

In [5]:
epl_stat = df.reset_index()
epl_stat

,index,Div,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,AvgC<2.5,AHCh,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA
0,0,E0,14/08/04,Aston Villa,Southampton,2,0,H,2,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,E0,14/08/04,Blackburn,West Brom,1,1,D,0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,E0,14/08/04,Bolton,Charlton,4,1,H,2,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,E0,14/08/04,Man City,Fulham,1,1,D,1,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,E0,14/08/04,Middlesbrough,Newcastle,2,2,D,0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6835,375,E0,22/05/2022,Crystal Palace,Man United,1,0,H,1,0,...,2.04,0.25,1.68,2.15,1.74,2.23,1.88,2.25,1.74,2.16
6836,376,E0,22/05/2022,Leicester,Southampton,4,1,H,0,0,...,2.63,-0.75,1.83,2.07,1.88,2.03,1.94,2.26,1.87,2.01
6837,377,E0,22/05/2022,Liverpool,Wolves,3,1,H,1,1,...,3.28,-2.50,2.02,1.77,2.06,1.83,2.19,1.99,2.07,1.80
6838,378,E0,22/05/2022,Man City,Aston Villa,3,2,H,0,1,...,3.36,-2.25,2.06,1.84,2.05,1.86,2.09,2.03,2.01,1.87
6839,379,E0,22/05/2022,Norwich,Tottenham,0,5,A,0,2,...,2.40,1.50,1.95,1.95,1.96,1.94,2.16,1.98,1.99,1.89

In [6]:
def HomePoint(row):
    if(row.FTR == 'H'):
        return 3
    elif(row.FTR == 'A'):
        return 0
    elif(row.FTR == 'D'):
        return 1
    else:
        return 0

In [7]:
epl_stat["HomePoint"] = epl_stat.apply(lambda row: HomePoint(row),axis=1)

In [8]:
def AwayPoint(row):
    if(row.FTR == 'A'):
        return 3
    elif(row.FTR == 'H'):
        return 0
    elif(row.FTR == 'D'):
        return 1
    else:
        return 0
epl_stat["AwayPoint"] = epl_stat.apply(lambda row: AwayPoint(row),axis=1)

In [9]:
epl_stat["pastHG"] = 0.0
epl_stat["pastAG"] = 0.0
epl_stat["pastHGC"] = 0.0
epl_stat["pastAGC"] = 0.0
epl_stat['pastHP'] = 0.0
epl_stat['pastAP'] = 0.0
epl_stat['pastHS'] = 0.0
epl_stat['pastAS'] = 0.0
epl_stat['pastHSC'] = 0.0
epl_stat['pastASC'] = 0.0
epl_stat['pastHST'] = 0.0
epl_stat['pastAST'] = 0.0
epl_stat['pastHSTC'] = 0.0
epl_stat['pastASTC'] = 0.0

In [ ]:
k = 2
for i in range(0,6840):
    row = epl_stat.loc[i]
    ht = row.HomeTeam
    at = row.AwayTeam
    ht_stats = epl_stat.loc[0:i-1][(epl_stat.HomeTeam == ht) | (epl_stat.AwayTeam == ht)].tail(k)
    at_stats = epl_stat.loc[0:i-1][(epl_stat.HomeTeam == at) | (epl_stat.AwayTeam == at)].tail(k)
    epl_stat.at[i, 'pastHG'] = (ht_stats[ht_stats["AwayTeam"] == ht].sum().FTAG + ht_stats[ht_stats["HomeTeam"] == ht].sum().FTHG)
    epl_stat.at[i, 'pastAG'] = (at_stats[at_stats["AwayTeam"] == at].sum().FTAG + at_stats[at_stats["HomeTeam"] == at].sum().FTHG)
    epl_stat.at[i, 'pastHGC'] = (ht_stats[ht_stats["AwayTeam"] == ht].sum().FTHG + ht_stats[ht_stats["HomeTeam"] == ht].sum().FTAG)
    epl_stat.at[i, 'pastAGC'] = (at_stats[at_stats["AwayTeam"] == at].sum().FTHG + at_stats[at_stats["HomeTeam"] == at].sum().FTAG)
    epl_stat.at[i, 'pastHP'] = (ht_stats[ht_stats["AwayTeam"] == ht].sum().AwayPoint + ht_stats[ht_stats["HomeTeam"] == ht].sum().HomePoint)
    epl_stat.at[i, 'pastAP'] = (at_stats[at_stats["AwayTeam"] == at].sum().AwayPoint + at_stats[at_stats["HomeTeam"] == at].sum().HomePoint)
    epl_stat.at[i, 'pastHS'] = (ht_stats[ht_stats["AwayTeam"] == ht].sum().AS + ht_stats[ht_stats["HomeTeam"] == ht].sum().HS)
    epl_stat.at[i, 'pastAS'] = (at_stats[at_stats["AwayTeam"] == at].sum().AS + at_stats[at_stats["HomeTeam"] == at].sum().HS)
    epl_stat.at[i, 'pastHSC'] = (ht_stats[ht_stats["AwayTeam"] == ht].sum().HS + ht_stats[ht_stats["HomeTeam"] == ht].sum().AS)
    epl_stat.at[i, 'pastASC'] = (at_stats[at_stats["AwayTeam"] == at].sum().HS + at_stats[at_stats["HomeTeam"] == at].sum().AS)
    epl_stat.at[i, 'pastHST'] = (ht_stats[ht_stats["AwayTeam"] == ht].sum().AST + ht_stats[ht_stats["HomeTeam"] == ht].sum().HST)
    epl_stat.at[i, 'pastAST'] = (at_stats[at_stats["AwayTeam"] == at].sum().AST + at_stats[at_stats["HomeTeam"] == at].sum().HST)
    epl_stat.at[i, 'pastHSTC'] = (ht_stats[ht_stats["AwayTeam"] == ht].sum().HST + ht_stats[ht_stats["HomeTeam"] == ht].sum().AST)
    epl_stat.at[i, 'pastASTC'] = (at_stats[at_stats["AwayTeam"] == at].sum().HST + at_stats[at_stats["HomeTeam"] == at].sum().AST)

C:\Users\Admin\AppData\Local\Temp/ipykernel_10488/2962364695.py:6: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  ht_stats = epl_stat.loc[0:i-1][(epl_stat.HomeTeam == ht) | (epl_stat.AwayTeam == ht)].tail(k)
C:\Users\Admin\AppData\Local\Temp/ipykernel_10488/2962364695.py:7: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  at_stats = epl_stat.loc[0:i-1][(epl_stat.HomeTeam == at) | (epl_stat.AwayTeam == at)].tail(k)

In [ ]:
epl_stat['HomeFullPoint'] = 0.0
epl_stat['AwayFullPoint'] = 0.0

In [ ]:
for t in range(0,18):
    for i in range(380*t,380*t+380):
        row = epl_stat.loc[i]
        ht = row.HomeTeam
        at = row.AwayTeam
        ht_stats = epl_stat.loc[380*t:i-1][(epl_stat.HomeTeam == ht) | (epl_stat.AwayTeam == ht)]
        at_stats = epl_stat.loc[380*t:i-1][(epl_stat.HomeTeam == at) | (epl_stat.AwayTeam == at)]
        epl_stat.at[i, 'HomeFullPoint'] = (ht_stats[ht_stats["AwayTeam"] == ht].sum().AwayPoint + ht_stats[ht_stats["HomeTeam"] == ht].sum().HomePoint)/len(ht_stats)
        epl_stat.at[i, 'AwayFullPoint'] = (at_stats[at_stats["AwayTeam"] == at].sum().AwayPoint + at_stats[at_stats["HomeTeam"] == at].sum().HomePoint)/len(at_stats)

In [ ]:
epl_stat['HomeGoal'] = 0.0
epl_stat['AwayGoal'] = 0.0
epl_stat['HomeConceded'] = 0.0
epl_stat['AwayConceded'] = 0.0

In [ ]:
for t in range(0,18):
    for i in range(380*t,380*t+380):
        row = epl_stat.loc[i]
        ht = row.HomeTeam
        at = row.AwayTeam
        ht_stats = epl_stat.loc[380*t:i-1][(epl_stat.HomeTeam == ht) | (epl_stat.AwayTeam == ht)]
        at_stats = epl_stat.loc[380*t:i-1][(epl_stat.HomeTeam == at) | (epl_stat.AwayTeam == at)]
        epl_stat.at[i, 'HomeGoal'] = (ht_stats[ht_stats["AwayTeam"] == ht].sum().FTAG + ht_stats[ht_stats["HomeTeam"] == ht].sum().FTHG)/len(ht_stats)
        epl_stat.at[i, 'AwayGoal'] = (at_stats[at_stats["AwayTeam"] == at].sum().FTAG + at_stats[at_stats["HomeTeam"] == at].sum().FTHG)/len(at_stats)
        epl_stat.at[i, 'HomeConceded'] = (ht_stats[ht_stats["AwayTeam"] == ht].sum().FTHG + ht_stats[ht_stats["HomeTeam"] == ht].sum().FTAG)/len(ht_stats)
        epl_stat.at[i, 'AwayConceded'] = (at_stats[at_stats["AwayTeam"] == at].sum().FTHG + at_stats[at_stats["HomeTeam"] == at].sum().FTAG)/len(at_stats)

In [ ]:
epl_stat['HomeAvgPoint'] = 0.0
epl_stat['AwayAvgPoint'] = 0.0
for i in range(0,6840):
    row = epl_stat.loc[i]
    ht = row.HomeTeam
    at = row.AwayTeam
    ht_stats = epl_stat.loc[0:i-1][(epl_stat.HomeTeam == ht) | (epl_stat.AwayTeam == ht)]
    at_stats = epl_stat.loc[0:i-1][(epl_stat.HomeTeam == at) | (epl_stat.AwayTeam == at)]
    epl_stat.at[i, 'HomeAvgPoint'] = (ht_stats[ht_stats["AwayTeam"] == ht].sum().AwayPoint + ht_stats[ht_stats["HomeTeam"] == ht].sum().HomePoint)/len(ht_stats)
    epl_stat.at[i, 'AwayAvgPoint'] = (at_stats[at_stats["AwayTeam"] == at].sum().AwayPoint + at_stats[at_stats["HomeTeam"] == at].sum().HomePoint)/len(at_stats)

In [ ]:
epl_stat.tail(60)

In [ ]:
epl_stat = epl_stat.replace(np.nan, 0)

In [ ]:
data = epl_stat.reset_index()
data

In [ ]:
data['Season'] = 2004 + data['level_0']//380

In [ ]:
data[['HomeTeam','AwayTeam','pastHP','pastAP']]

In [ ]:
data['Matchweek'] = data['index']//10+1
data[['Matchweek']]

In [ ]:
data["Home_code"] = data["HomeTeam"].astype("category").cat.codes
data["Away_code"] = data["AwayTeam"].astype("category").cat.codes
data["Venue_code"] = data["Home_code"]
data["Referee"] = data["Referee"].astype("category").cat.codes

In [ ]:
data.to_csv('0422.csv')

In [ ]:
data.head(100)