In [1]:
import requests
import numpy as np

In [2]:
standings_url = "https://fbref.com/en/comps/9/schedule/Premier-League-Scores-and-Fixtures"

In [3]:
data = requests.get(standings_url)

In [4]:
import pandas as pd
matches = pd.read_html(data.text)[0]

In [22]:
matches[139:147]

,level_0,index,Wk,Day,Date,Time,Home,xG,Score,xG.1,Away,Attendance,Venue,Referee,Match Report,Notes
139,139,152,14.0,Sun,2022-10-30,16:15,Manchester Utd,1.2,"[1, –, 0]",1.1,West Ham,73682.0,Old Trafford,Chris Kavanagh,Match Report,NaN
140,140,154,15.0,Sat,2022-11-05,15:00,Nott'ham Forest,1.5,"[2, –, 2]",1.5,Brentford,28869.0,The City Ground,Andre Marriner,Match Report,NaN
141,141,155,15.0,Sat,2022-11-05,15:00,Leeds United,2.2,"[4, –, 3]",1.4,Bournemouth,36304.0,Elland Road,Tony Harrington,Match Report,NaN
142,142,156,15.0,Sat,2022-11-05,15:00,Manchester City,2.0,"[2, –, 1]",0.9,Fulham,NaN,Etihad Stadium,Darren England,Match Report,NaN
143,143,157,15.0,Sat,2022-11-05,15:00,Wolves,1.2,"[2, –, 3]",1.6,Brighton,30732.0,Molineux Stadium,Graham Scott,Match Report,NaN
144,144,158,15.0,Sat,2022-11-05,17:30,Everton,1.2,"[0, –, 2]",1.7,Leicester City,39206.0,Goodison Park,David Coote,Match Report,NaN
145,145,159,15.0,Sun,2022-11-06,12:00,Chelsea,NaN,"[n, a, n]",NaN,Arsenal,NaN,Stamford Bridge,NaN,Head-to-Head,NaN
146,146,160,15.0,Sun,2022-11-06,14:00,West Ham,NaN,"[n, a, n]",NaN,Crystal Palace,NaN,London Stadium,NaN,Head-to-Head,NaN

In [6]:
matches["Score"] = matches['Score'].apply(str)
matches["Score"] = matches['Score'].apply(list)

In [7]:
matches.head(11)
matches = matches[matches.Wk.notnull()]
matches.head(11)

,Wk,Day,Date,Time,Home,xG,Score,xG.1,Away,Attendance,Venue,Referee,Match Report,Notes
0,1.0,Fri,2022-08-05,20:00,Crystal Palace,1.2,"[0, –, 2]",1.0,Arsenal,25286.0,Selhurst Park,Anthony Taylor,Match Report,NaN
1,1.0,Sat,2022-08-06,12:30,Fulham,1.2,"[2, –, 2]",1.2,Liverpool,22207.0,Craven Cottage,Andy Madley,Match Report,NaN
2,1.0,Sat,2022-08-06,15:00,Tottenham,1.5,"[4, –, 1]",0.5,Southampton,61732.0,Tottenham Hotspur Stadium,Andre Marriner,Match Report,NaN
3,1.0,Sat,2022-08-06,15:00,Newcastle Utd,1.7,"[2, –, 0]",0.3,Nott'ham Forest,52245.0,St. James' Park,Simon Hooper,Match Report,NaN
4,1.0,Sat,2022-08-06,15:00,Leeds United,0.8,"[2, –, 1]",1.3,Wolves,36347.0,Elland Road,Robert Jones,Match Report,NaN
5,1.0,Sat,2022-08-06,15:00,Bournemouth,0.6,"[2, –, 0]",0.7,Aston Villa,11013.0,Vitality Stadium,Peter Bankes,Match Report,NaN
6,1.0,Sat,2022-08-06,17:30,Everton,0.7,"[0, –, 1]",1.5,Chelsea,39254.0,Goodison Park,Craig Pawson,Match Report,NaN
7,1.0,Sun,2022-08-07,14:00,Leicester City,0.6,"[2, –, 2]",0.8,Brentford,31794.0,King Power Stadium,Jarred Gillett,Match Report,NaN
8,1.0,Sun,2022-08-07,14:00,Manchester Utd,1.4,"[1, –, 2]",1.5,Brighton,73711.0,Old Trafford,Paul Tierney,Match Report,NaN
9,1.0,Sun,2022-08-07,16:30,West Ham,0.5,"[0, –, 2]",2.2,Manchester City,62443.0,London Stadium,Michael Oliver,Match Report,NaN
11,2.0,Sat,2022-08-13,12:30,Aston Villa,2.3,"[2, –, 1]",1.6,Everton,41883.0,Villa Park,Michael Oliver,Match Report,NaN

In [8]:
matches.reset_index(inplace=True)
matches.reset_index(inplace=True)
matches

,level_0,index,Wk,Day,Date,Time,Home,xG,Score,xG.1,Away,Attendance,Venue,Referee,Match Report,Notes
0,0,0,1.0,Fri,2022-08-05,20:00,Crystal Palace,1.2,"[0, –, 2]",1.0,Arsenal,25286.0,Selhurst Park,Anthony Taylor,Match Report,NaN
1,1,1,1.0,Sat,2022-08-06,12:30,Fulham,1.2,"[2, –, 2]",1.2,Liverpool,22207.0,Craven Cottage,Andy Madley,Match Report,NaN
2,2,2,1.0,Sat,2022-08-06,15:00,Tottenham,1.5,"[4, –, 1]",0.5,Southampton,61732.0,Tottenham Hotspur Stadium,Andre Marriner,Match Report,NaN
3,3,3,1.0,Sat,2022-08-06,15:00,Newcastle Utd,1.7,"[2, –, 0]",0.3,Nott'ham Forest,52245.0,St. James' Park,Simon Hooper,Match Report,NaN
4,4,4,1.0,Sat,2022-08-06,15:00,Leeds United,0.8,"[2, –, 1]",1.3,Wolves,36347.0,Elland Road,Robert Jones,Match Report,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375,375,412,38.0,Sun,2023-05-28,15:00,Everton,NaN,"[n, a, n]",NaN,Bournemouth,NaN,Goodison Park,NaN,Head-to-Head,NaN
376,376,413,38.0,Sun,2023-05-28,15:00,Leicester City,NaN,"[n, a, n]",NaN,West Ham,NaN,King Power Stadium,NaN,Head-to-Head,NaN
377,377,414,38.0,Sun,2023-05-28,15:00,Aston Villa,NaN,"[n, a, n]",NaN,Brighton,NaN,Villa Park,NaN,Head-to-Head,NaN
378,378,415,38.0,Sun,2023-05-28,15:00,Leeds United,NaN,"[n, a, n]",NaN,Tottenham,NaN,Elland Road,NaN,Head-to-Head,NaN
379,379,416,38.0,Sun,2023-05-28,15:00,Brentford,NaN,"[n, a, n]",NaN,Manchester City,NaN,Brentford Community Stadium,NaN,Head-to-Head,NaN

In [9]:
df = pd.DataFrame(matches[['Score','level_0']])
df[['FTHG','vs','FTAG']] = pd.DataFrame(df.Score.tolist(), index= df.index)
df

         Score  level_0 FTHG vs FTAG
0    [0, –, 2]        0    0  –    2
1    [2, –, 2]        1    2  –    2
2    [4, –, 1]        2    4  –    1
3    [2, –, 0]        3    2  –    0
4    [2, –, 1]        4    2  –    1
..         ...      ...  ... ..  ...
375  [n, a, n]      375    n  a    n
376  [n, a, n]      376    n  a    n
377  [n, a, n]      377    n  a    n
378  [n, a, n]      378    n  a    n
379  [n, a, n]      379    n  a    n

[380 rows x 5 columns]

In [10]:
match = matches.drop('Score', axis=1)
match

,level_0,index,Wk,Day,Date,Time,Home,xG,xG.1,Away,Attendance,Venue,Referee,Match Report,Notes
0,0,0,1.0,Fri,2022-08-05,20:00,Crystal Palace,1.2,1.0,Arsenal,25286.0,Selhurst Park,Anthony Taylor,Match Report,NaN
1,1,1,1.0,Sat,2022-08-06,12:30,Fulham,1.2,1.2,Liverpool,22207.0,Craven Cottage,Andy Madley,Match Report,NaN
2,2,2,1.0,Sat,2022-08-06,15:00,Tottenham,1.5,0.5,Southampton,61732.0,Tottenham Hotspur Stadium,Andre Marriner,Match Report,NaN
3,3,3,1.0,Sat,2022-08-06,15:00,Newcastle Utd,1.7,0.3,Nott'ham Forest,52245.0,St. James' Park,Simon Hooper,Match Report,NaN
4,4,4,1.0,Sat,2022-08-06,15:00,Leeds United,0.8,1.3,Wolves,36347.0,Elland Road,Robert Jones,Match Report,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375,375,412,38.0,Sun,2023-05-28,15:00,Everton,NaN,NaN,Bournemouth,NaN,Goodison Park,NaN,Head-to-Head,NaN
376,376,413,38.0,Sun,2023-05-28,15:00,Leicester City,NaN,NaN,West Ham,NaN,King Power Stadium,NaN,Head-to-Head,NaN
377,377,414,38.0,Sun,2023-05-28,15:00,Aston Villa,NaN,NaN,Brighton,NaN,Villa Park,NaN,Head-to-Head,NaN
378,378,415,38.0,Sun,2023-05-28,15:00,Leeds United,NaN,NaN,Tottenham,NaN,Elland Road,NaN,Head-to-Head,NaN
379,379,416,38.0,Sun,2023-05-28,15:00,Brentford,NaN,NaN,Manchester City,NaN,Brentford Community Stadium,NaN,Head-to-Head,NaN

In [69]:
df['FTHG'] = df['FTHG'].replace('n', -1)
df['FTAG'] = df['FTAG'].replace('n', -1)
df

         Score  level_0 FTHG vs FTAG
0    [0, –, 2]        0    0  –    2
1    [2, –, 2]        1    2  –    2
2    [4, –, 1]        2    4  –    1
3    [2, –, 0]        3    2  –    0
4    [2, –, 1]        4    2  –    1
..         ...      ...  ... ..  ...
375  [n, a, n]      375   -1  a   -1
376  [n, a, n]      376   -1  a   -1
377  [n, a, n]      377   -1  a   -1
378  [n, a, n]      378   -1  a   -1
379  [n, a, n]      379   -1  a   -1

[380 rows x 5 columns]

In [70]:
df_1 = df.drop('Score', axis=1)

In [71]:
df_2 = df_1.drop('vs', axis=1)
df_2.head(100)

    level_0 FTHG FTAG
0         0    0    2
1         1    2    2
2         2    4    1
3         3    2    0
4         4    2    1
..      ...  ...  ...
95       95    3    1
96       96    2    1
97       97    3    2
98       98    1    2
99       99    1    1

[100 rows x 3 columns]

In [72]:
w = pd.merge(match, df_2, on ='level_0')
w.tail(200)

,level_0,index,Wk,Day,Date,Time,Home,xG,xG.1,Away,Attendance,Venue,Referee,Match Report,Notes,FTHG,FTAG
180,180,198,19.0,Mon,2023-01-02,17:30,Brentford,NaN,NaN,Liverpool,NaN,Brentford Community Stadium,NaN,Head-to-Head,NaN,-1,-1
181,181,199,19.0,Tue,2023-01-03,19:45,Leicester City,NaN,NaN,Fulham,NaN,King Power Stadium,NaN,Head-to-Head,NaN,-1,-1
182,182,200,19.0,Tue,2023-01-03,19:45,Everton,NaN,NaN,Brighton,NaN,Goodison Park,NaN,Head-to-Head,NaN,-1,-1
183,183,201,19.0,Tue,2023-01-03,20:00,Manchester Utd,NaN,NaN,Bournemouth,NaN,Old Trafford,NaN,Head-to-Head,NaN,-1,-1
184,184,202,19.0,Tue,2023-01-03,20:00,Arsenal,NaN,NaN,Newcastle Utd,NaN,Emirates Stadium,NaN,Head-to-Head,NaN,-1,-1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
375,375,412,38.0,Sun,2023-05-28,15:00,Everton,NaN,NaN,Bournemouth,NaN,Goodison Park,NaN,Head-to-Head,NaN,-1,-1
376,376,413,38.0,Sun,2023-05-28,15:00,Leicester City,NaN,NaN,West Ham,NaN,King Power Stadium,NaN,Head-to-Head,NaN,-1,-1
377,377,414,38.0,Sun,2023-05-28,15:00,Aston Villa,NaN,NaN,Brighton,NaN,Villa Park,NaN,Head-to-Head,NaN,-1,-1
378,378,415,38.0,Sun,2023-05-28,15:00,Leeds United,NaN,NaN,Tottenham,NaN,Elland Road,NaN,Head-to-Head,NaN,-1,-1
379,379,416,38.0,Sun,2023-05-28,15:00,Brentford,NaN,NaN,Manchester City,NaN,Brentford Community Stadium,NaN,Head-to-Head,NaN,-1,-1

In [73]:
epl = w[['level_0','Wk','Home','Away','FTHG','FTAG','xG','xG.1']]
epl = epl.drop([60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 74, 77, 79, 114]).reset_index()

In [74]:
epl["FTHG"] = epl['FTHG'].apply(int)
epl["FTAG"] = epl['FTAG'].apply(int)
epl['xG'] = epl['xG'].replace(np.nan, -1)
epl['xG.1'] = epl['xG.1'].replace(np.nan, -1)
epl['xG'] = epl['xG'].apply(float)
epl['xG.1'] = epl['xG.1'].apply(float)
epl['xG'] = epl['xG'].replace(-1, 0)
epl['xG.1'] = epl['xG.1'].replace(-1, 0)

In [85]:
epl['HomeTeam'] = epl['Home']
epl['AwayTeam'] = epl['Away']
feat_table = epl[['level_0','Wk','HomeTeam','AwayTeam','FTHG','FTAG','xG','xG.1']]
feat_table

     level_0    Wk        HomeTeam         AwayTeam  FTHG  FTAG   xG  xG.1
0          0   1.0  Crystal Palace          Arsenal     0     2  1.2   1.0
1          1   1.0          Fulham        Liverpool     2     2  1.2   1.2
2          2   1.0       Tottenham      Southampton     4     1  1.5   0.5
3          3   1.0   Newcastle Utd  Nott'ham Forest     2     0  1.7   0.3
4          4   1.0    Leeds United           Wolves     2     1  0.8   1.3
..       ...   ...             ...              ...   ...   ...  ...   ...
361      375  38.0         Everton      Bournemouth    -1    -1  0.0   0.0
362      376  38.0  Leicester City         West Ham    -1    -1  0.0   0.0
363      377  38.0     Aston Villa         Brighton    -1    -1  0.0   0.0
364      378  38.0    Leeds United        Tottenham    -1    -1  0.0   0.0
365      379  38.0       Brentford  Manchester City    -1    -1  0.0   0.0

[366 rows x 8 columns]

In [90]:
def Result(row):
    if(row.FTHG > row.FTAG):
        return 'H'
    elif(row.FTHG < row.FTAG):
        return 'A'
    elif(row.FTHG == -1):
        return np.nan
    else:
        return 'D'
feat_table["Result"] = feat_table.apply(lambda row: Result(row),axis=1)
feat_table

C:\Users\Admin\AppData\Local\Temp/ipykernel_14188/2851648705.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  feat_table["Result"] = feat_table.apply(lambda row: Result(row),axis=1)

,level_0,Wk,HomeTeam,AwayTeam,FTHG,FTAG,xG,xG.1,Result
0,0,1.0,Crystal Palace,Arsenal,0,2,1.2,1.0,A
1,1,1.0,Fulham,Liverpool,2,2,1.2,1.2,D
2,2,1.0,Tottenham,Southampton,4,1,1.5,0.5,H
3,3,1.0,Newcastle Utd,Nott'ham Forest,2,0,1.7,0.3,H
4,4,1.0,Leeds United,Wolves,2,1,0.8,1.3,H
...,...,...,...,...,...,...,...,...,...
361,375,38.0,Everton,Bournemouth,-1,-1,0.0,0.0,NaN
362,376,38.0,Leicester City,West Ham,-1,-1,0.0,0.0,NaN
363,377,38.0,Aston Villa,Brighton,-1,-1,0.0,0.0,NaN
364,378,38.0,Leeds United,Tottenham,-1,-1,0.0,0.0,NaN
365,379,38.0,Brentford,Manchester City,-1,-1,0.0,0.0,NaN

In [27]:
stat = pd.read_csv("E0.csv")
stat['HomeTeam'] = stat['HomeTeam'].replace('Newcastle', 'Newcastle Utd').replace('Leeds', 'Leeds United').replace('Leicester','Leicester City').replace("Nott'm Forest","Nott'ham Forest").replace('Man United','Manchester Utd').replace('Man City','Manchester City')
stat['AwayTeam'] = stat['AwayTeam'].replace('Newcastle', 'Newcastle Utd').replace('Leeds', 'Leeds United').replace('Leicester','Leicester City').replace("Nott'm Forest","Nott'ham Forest").replace('Man United','Manchester Utd').replace('Man City','Manchester City')
stat.head(10)

,Div,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,AvgC<2.5,AHCh,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA
0,E0,05/08/2022,20:00,Crystal Palace,Arsenal,0,2,A,0,1,...,1.76,0.50,2.09,1.84,2.04,1.88,2.09,1.88,2.03,1.85
1,E0,06/08/2022,12:30,Fulham,Liverpool,2,2,D,1,0,...,2.73,1.75,1.90,2.03,1.91,2.02,2.01,2.06,1.89,1.99
2,E0,06/08/2022,15:00,Bournemouth,Aston Villa,2,0,H,1,0,...,1.76,0.50,1.93,2.00,1.93,2.00,1.94,2.04,1.88,2.00
3,E0,06/08/2022,15:00,Leeds United,Wolves,2,1,H,1,1,...,1.87,-0.25,2.08,1.85,2.10,1.84,2.14,1.87,2.08,1.81
4,E0,06/08/2022,15:00,Newcastle Utd,Nott'ham Forest,2,0,H,0,0,...,1.89,-1.00,1.97,1.96,1.99,1.93,2.19,1.97,2.03,1.86
5,E0,06/08/2022,15:00,Tottenham,Southampton,4,1,H,2,1,...,2.31,-1.50,2.07,1.86,2.04,1.88,2.08,1.88,2.03,1.85
6,E0,06/08/2022,17:30,Everton,Chelsea,0,1,A,0,1,...,1.77,1.00,1.93,2.00,1.94,1.98,1.94,2.11,1.88,2.00
7,E0,07/08/2022,14:00,Leicester City,Brentford,2,2,D,1,0,...,1.97,-0.50,1.94,1.99,1.96,1.96,1.96,2.04,1.92,1.96
8,E0,07/08/2022,14:00,Manchester Utd,Brighton,1,2,A,0,2,...,1.94,-0.75,2.06,1.87,2.05,1.88,2.08,1.97,2.00,1.88
9,E0,07/08/2022,16:30,West Ham,Manchester City,0,2,A,0,1,...,2.62,1.50,1.85,2.08,1.85,2.08,2.00,2.12,1.85,2.04

In [91]:
feat_table["FTHG"] = epl['FTHG'].replace(-1, 0)
feat_table["FTAG"] = epl['FTAG'].replace(-1, 0)

C:\Users\Admin\AppData\Local\Temp/ipykernel_14188/3708407592.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  feat_table["FTHG"] = epl['FTHG'].replace(-1, 0)
C:\Users\Admin\AppData\Local\Temp/ipykernel_14188/3708407592.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  feat_table["FTAG"] = epl['FTAG'].replace(-1, 0)

In [92]:
feat_table["Match"] = feat_table['HomeTeam'] +"-"+ feat_table['AwayTeam']
stat["Match"] = stat['HomeTeam'] +"-"+ stat['AwayTeam']

C:\Users\Admin\AppData\Local\Temp/ipykernel_14188/1596350805.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  feat_table["Match"] = feat_table['HomeTeam'] +"-"+ feat_table['AwayTeam']

In [96]:
new_df = pd.merge(feat_table, stat, on='Match', how='left')
new_df[125:145]

,level_0,Wk,HomeTeam_x,AwayTeam_x,FTHG_x,FTAG_x,xG,xG.1,Result,Match,...,AvgC<2.5,AHCh,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA
125,139,14.0,Manchester Utd,West Ham,1,0,1.2,1.1,H,Manchester Utd-West Ham,...,1.98,-0.75,1.92,1.98,1.94,1.98,1.95,2.1,1.92,1.96
126,140,15.0,Nott'ham Forest,Brentford,2,2,1.5,1.5,D,Nott'ham Forest-Brentford,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
127,141,15.0,Leeds United,Bournemouth,4,3,2.2,1.4,H,Leeds United-Bournemouth,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
128,142,15.0,Manchester City,Fulham,2,1,2.0,0.9,H,Manchester City-Fulham,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
129,143,15.0,Wolves,Brighton,2,3,1.2,1.6,A,Wolves-Brighton,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
130,144,15.0,Everton,Leicester City,0,2,1.2,1.7,A,Everton-Leicester City,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
131,145,15.0,Chelsea,Arsenal,0,0,0.0,0.0,NaN,Chelsea-Arsenal,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
132,146,15.0,West Ham,Crystal Palace,0,0,0.0,0.0,NaN,West Ham-Crystal Palace,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
133,147,15.0,Southampton,Newcastle Utd,0,0,0.0,0.0,NaN,Southampton-Newcastle Utd,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
134,148,15.0,Aston Villa,Manchester Utd,0,0,0.0,0.0,NaN,Aston Villa-Manchester Utd,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
135,149,15.0,Tottenham,Liverpool,0,0,0.0,0.0,NaN,Tottenham-Liverpool,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
136,150,16.0,Manchester City,Brentford,0,0,0.0,0.0,NaN,Manchester City-Brentford,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
137,151,16.0,Tottenham,Leeds United,0,0,0.0,0.0,NaN,Tottenham-Leeds United,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
138,152,16.0,Liverpool,Southampton,0,0,0.0,0.0,NaN,Liverpool-Southampton,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
139,153,16.0,Bournemouth,Everton,0,0,0.0,0.0,NaN,Bournemouth-Everton,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
140,154,16.0,West Ham,Leicester City,0,0,0.0,0.0,NaN,West Ham-Leicester City,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
141,155,16.0,Nott'ham Forest,Crystal Palace,0,0,0.0,0.0,NaN,Nott'ham Forest-Crystal Palace,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
142,156,16.0,Newcastle Utd,Chelsea,0,0,0.0,0.0,NaN,Newcastle Utd-Chelsea,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
143,157,16.0,Wolves,Arsenal,0,0,0.0,0.0,NaN,Wolves-Arsenal,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
144,158,16.0,Brighton,Aston Villa,0,0,0.0,0.0,NaN,Brighton-Aston Villa,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [97]:
epl_stat=new_df[['Div','Date','Time','Wk','HomeTeam_x','AwayTeam_x','Result','FTHG_x','FTAG_x','xG','xG.1','HS','AS','HST','AST']]

In [98]:
epl_stat[110:130]

,Div,Date,Time,Wk,HomeTeam_x,AwayTeam_x,Result,FTHG_x,FTAG_x,xG,xG.1,HS,AS,HST,AST
110,E0,23/10/2022,14:00,13.0,Aston Villa,Brentford,H,4,0,2.8,0.9,19.0,12.0,11.0,3.0
111,E0,23/10/2022,14:00,13.0,Wolves,Leicester City,A,0,4,2.1,0.9,21.0,5.0,5.0,4.0
112,E0,23/10/2022,14:00,13.0,Leeds United,Fulham,A,2,3,1.6,1.8,14.0,11.0,5.0,5.0
113,E0,23/10/2022,14:00,13.0,Southampton,Arsenal,D,1,1,0.7,1.0,10.0,12.0,3.0,3.0
114,E0,23/10/2022,16:30,13.0,Tottenham,Newcastle Utd,A,1,2,1.6,1.2,17.0,13.0,5.0,5.0
115,E0,24/10/2022,20:00,13.0,West Ham,Bournemouth,H,2,0,1.9,0.4,20.0,5.0,4.0,3.0
116,E0,29/10/2022,12:30,14.0,Leicester City,Manchester City,A,0,1,0.7,1.0,10.0,15.0,5.0,5.0
117,E0,29/10/2022,15:00,14.0,Brentford,Wolves,D,1,1,1.4,0.6,12.0,14.0,3.0,4.0
118,E0,29/10/2022,15:00,14.0,Crystal Palace,Southampton,H,1,0,0.9,1.3,12.0,14.0,3.0,4.0
119,E0,29/10/2022,15:00,14.0,Newcastle Utd,Aston Villa,H,4,0,3.4,0.4,20.0,3.0,7.0,0.0
120,E0,29/10/2022,15:00,14.0,Brighton,Chelsea,H,4,1,2.4,1.4,19.0,15.0,9.0,7.0
121,E0,29/10/2022,15:00,14.0,Bournemouth,Tottenham,A,2,3,0.5,2.0,6.0,23.0,4.0,7.0
122,E0,29/10/2022,17:30,14.0,Fulham,Everton,D,0,0,1.9,0.9,24.0,9.0,6.0,4.0
123,E0,29/10/2022,19:45,14.0,Liverpool,Leeds United,A,1,2,1.7,1.8,22.0,14.0,10.0,6.0
124,E0,30/10/2022,14:00,14.0,Arsenal,Nott'ham Forest,H,5,0,2.3,0.4,24.0,5.0,10.0,2.0
125,E0,30/10/2022,16:15,14.0,Manchester Utd,West Ham,H,1,0,1.2,1.1,16.0,13.0,3.0,5.0
126,NaN,NaN,NaN,15.0,Nott'ham Forest,Brentford,D,2,2,1.5,1.5,NaN,NaN,NaN,NaN
127,NaN,NaN,NaN,15.0,Leeds United,Bournemouth,H,4,3,2.2,1.4,NaN,NaN,NaN,NaN
128,NaN,NaN,NaN,15.0,Manchester City,Fulham,H,2,1,2.0,0.9,NaN,NaN,NaN,NaN
129,NaN,NaN,NaN,15.0,Wolves,Brighton,A,2,3,1.2,1.6,NaN,NaN,NaN,NaN

In [99]:
epl_stat['FTHG'] = epl_stat['FTHG_x']
epl_stat['FTAG'] = epl_stat['FTAG_x']
epl_stat['HxG'] = epl_stat['xG']
epl_stat['AxG'] = epl_stat['xG.1']
epl_stat['HomeTeam'] = epl_stat['HomeTeam_x']
epl_stat['AwayTeam'] = epl_stat['AwayTeam_x']

C:\Users\Admin\AppData\Local\Temp/ipykernel_14188/1589987248.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  epl_stat['FTHG'] = epl_stat['FTHG_x']
C:\Users\Admin\AppData\Local\Temp/ipykernel_14188/1589987248.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  epl_stat['FTAG'] = epl_stat['FTAG_x']
C:\Users\Admin\AppData\Local\Temp/ipykernel_14188/1589987248.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  epl_stat['HxG'] = epl_stat['xG']
C:\Users\Admin\AppData\Local\Temp/ipykernel_14188/1589987248.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  epl_stat['AxG'] = epl_stat['xG.1']
C:\Users\Admin\AppData\Local\Temp/ipykernel_14188/1589987248.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  epl_stat['HomeTeam'] = epl_stat['HomeTeam_x']
C:\Users\Admin\AppData\Local\Temp/ipykernel_14188/1589987248.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  epl_stat['AwayTeam'] = epl_stat['AwayTeam_x']

In [100]:
epl_stat=epl_stat[['Wk','HomeTeam','AwayTeam','Result','FTHG','FTAG','HxG','AxG','HS','AS','HST','AST']]

In [101]:
epl_stat.dtypes

Wk          float64
HomeTeam     object
AwayTeam     object
Result       object
FTHG          int64
FTAG          int64
HxG         float64
AxG         float64
HS          float64
AS          float64
HST         float64
AST         float64
dtype: object

In [102]:
epl_stat["pastHG"] = 0.0
epl_stat["pastAG"] = 0.0
epl_stat["pastHxG"] = 0.0
epl_stat["pastAxG"] = 0.0

In [103]:
k = 3
for i in range(0,366):
    row = epl_stat.loc[i]
    ht = row.HomeTeam
    at = row.AwayTeam
    ht_stats = epl_stat.loc[0:i-1][(epl_stat.HomeTeam == ht) | (epl_stat.AwayTeam == ht)].tail(k)
    at_stats = epl_stat.loc[0:i-1][(epl_stat.HomeTeam == at) | (epl_stat.AwayTeam == at)].tail(k)
    epl_stat.at[i, 'pastHG'] = (ht_stats[ht_stats["AwayTeam"] == ht].sum().FTAG + ht_stats[ht_stats["HomeTeam"] == ht].sum().FTHG)
    epl_stat.at[i, 'pastAG'] = (at_stats[at_stats["AwayTeam"] == at].sum().FTAG + at_stats[at_stats["HomeTeam"] == at].sum().FTHG)
    epl_stat.at[i, 'pastHxG'] = (ht_stats[ht_stats["AwayTeam"] == ht].sum().AxG + ht_stats[ht_stats["HomeTeam"] == ht].sum().HxG)
    epl_stat.at[i, 'pastAxG'] = (at_stats[at_stats["AwayTeam"] == at].sum().AxG + at_stats[at_stats["HomeTeam"] == at].sum().HxG)

C:\Users\Admin\AppData\Local\Temp/ipykernel_14188/626484699.py:6: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  ht_stats = epl_stat.loc[0:i-1][(epl_stat.HomeTeam == ht) | (epl_stat.AwayTeam == ht)].tail(k)
C:\Users\Admin\AppData\Local\Temp/ipykernel_14188/626484699.py:7: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  at_stats = epl_stat.loc[0:i-1][(epl_stat.HomeTeam == at) | (epl_stat.AwayTeam == at)].tail(k)
C:\Users\Admin\AppData\Local\Temp/ipykernel_14188/626484699.py:8: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  epl_stat.at[i, 'pastHG'] = (ht_stats[ht_stats["AwayTeam"] == ht].sum().FTAG + ht_stats[ht_stats["HomeTeam"] == ht].sum().FTHG)
C:\Users\Admin\AppData\Local\Temp/ipykernel_14188/626484699.py:10: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  epl_stat.at[i, 'pastHxG'] = (ht_stats[ht_stats["AwayTeam"] == ht].sum().AxG + ht_stats[ht_stats["HomeTeam"] == ht].sum().HxG)
C:\Users\Admin\AppData\Local\Temp/ipykernel_14188/626484699.py:9: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  epl_stat.at[i, 'pastAG'] = (at_stats[at_stats["AwayTeam"] == at].sum().FTAG + at_stats[at_stats["HomeTeam"] == at].sum().FTHG)
C:\Users\Admin\AppData\Local\Temp/ipykernel_14188/626484699.py:11: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  epl_stat.at[i, 'pastAxG'] = (at_stats[at_stats["AwayTeam"] == at].sum().AxG + at_stats[at_stats["HomeTeam"] == at].sum().HxG)

In [104]:
epl_stat[130:139]

,Wk,HomeTeam,AwayTeam,Result,FTHG,FTAG,HxG,AxG,HS,AS,HST,AST,pastHG,pastAG,pastHxG,pastAxG
130,15.0,Everton,Leicester City,A,0,2,1.2,1.7,NaN,NaN,NaN,NaN,3.0,6.0,2.5,2.4
131,15.0,Chelsea,Arsenal,NaN,0,0,0.0,0.0,NaN,NaN,NaN,NaN,2.0,7.0,3.4,3.8
132,15.0,West Ham,Crystal Palace,NaN,0,0,0.0,0.0,NaN,NaN,NaN,NaN,2.0,3.0,4.7,3.0
133,15.0,Southampton,Newcastle Utd,NaN,0,0,0.0,0.0,NaN,NaN,NaN,NaN,2.0,7.0,3.0,6.1
134,15.0,Aston Villa,Manchester Utd,NaN,0,0,0.0,0.0,NaN,NaN,NaN,NaN,4.0,4.0,4.4,3.5
135,15.0,Tottenham,Liverpool,NaN,0,0,0.0,0.0,NaN,NaN,NaN,NaN,4.0,2.0,4.2,5.0
136,16.0,Manchester City,Brentford,NaN,0,0,0.0,0.0,NaN,NaN,NaN,NaN,6.0,3.0,4.6,3.8
137,16.0,Tottenham,Leeds United,NaN,0,0,0.0,0.0,NaN,NaN,NaN,NaN,4.0,8.0,3.6,5.6
138,16.0,Liverpool,Southampton,NaN,0,0,0.0,0.0,NaN,NaN,NaN,NaN,1.0,1.0,3.3,2.0

In [105]:
def HomePoint(row):
    if(row.Result == 'H'):
        return 3
    elif(row.Result == 'A'):
        return 0
    elif(row.Result == 'D'):
        return 1
    else:
        return 0

In [106]:
epl_stat["HomePoint"] = epl_stat.apply(lambda row: HomePoint(row),axis=1)

In [107]:
epl_stat

,Wk,HomeTeam,AwayTeam,Result,FTHG,FTAG,HxG,AxG,HS,AS,HST,AST,pastHG,pastAG,pastHxG,pastAxG,HomePoint
0,1.0,Crystal Palace,Arsenal,A,0,2,1.2,1.0,10.0,10.0,2.0,2.0,0.0,0.0,0.0,0.0,0
1,1.0,Fulham,Liverpool,D,2,2,1.2,1.2,9.0,11.0,3.0,4.0,0.0,0.0,0.0,0.0,1
2,1.0,Tottenham,Southampton,H,4,1,1.5,0.5,18.0,10.0,8.0,2.0,0.0,0.0,0.0,0.0,3
3,1.0,Newcastle Utd,Nott'ham Forest,H,2,0,1.7,0.3,23.0,5.0,10.0,0.0,0.0,0.0,0.0,0.0,3
4,1.0,Leeds United,Wolves,H,2,1,0.8,1.3,12.0,15.0,4.0,6.0,0.0,0.0,0.0,0.0,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
361,38.0,Everton,Bournemouth,NaN,0,0,0.0,0.0,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0
362,38.0,Leicester City,West Ham,NaN,0,0,0.0,0.0,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0
363,38.0,Aston Villa,Brighton,NaN,0,0,0.0,0.0,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0
364,38.0,Leeds United,Tottenham,NaN,0,0,0.0,0.0,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0
365,38.0,Brentford,Manchester City,NaN,0,0,0.0,0.0,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0

In [111]:
def AwayPoint(row):
    if(row.Result == 'H'):
        return 0
    elif(row.Result == 'A'):
        return 3
    elif(row.Result == 'D'):
        return 1
    else:
        return 0

In [114]:
epl_stat["AwayPoint"] = epl_stat.apply(lambda row: AwayPoint(row),axis=1)

In [115]:
epl_stat

,Wk,HomeTeam,AwayTeam,Result,FTHG,FTAG,HxG,AxG,HS,AS,HST,AST,pastHG,pastAG,pastHxG,pastAxG,HomePoint,AwayPoint
0,1.0,Crystal Palace,Arsenal,A,0,2,1.2,1.0,10.0,10.0,2.0,2.0,0.0,0.0,0.0,0.0,0,3
1,1.0,Fulham,Liverpool,D,2,2,1.2,1.2,9.0,11.0,3.0,4.0,0.0,0.0,0.0,0.0,1,1
2,1.0,Tottenham,Southampton,H,4,1,1.5,0.5,18.0,10.0,8.0,2.0,0.0,0.0,0.0,0.0,3,0
3,1.0,Newcastle Utd,Nott'ham Forest,H,2,0,1.7,0.3,23.0,5.0,10.0,0.0,0.0,0.0,0.0,0.0,3,0
4,1.0,Leeds United,Wolves,H,2,1,0.8,1.3,12.0,15.0,4.0,6.0,0.0,0.0,0.0,0.0,3,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
361,38.0,Everton,Bournemouth,NaN,0,0,0.0,0.0,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0,0
362,38.0,Leicester City,West Ham,NaN,0,0,0.0,0.0,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0,0
363,38.0,Aston Villa,Brighton,NaN,0,0,0.0,0.0,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0,0
364,38.0,Leeds United,Tottenham,NaN,0,0,0.0,0.0,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0,0
365,38.0,Brentford,Manchester City,NaN,0,0,0.0,0.0,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0,0

In [116]:
k = 3
for i in range(0,366):
    row = epl_stat.loc[i]
    ht = row.HomeTeam
    at = row.AwayTeam
    ht_stats = epl_stat.loc[0:i-1][(epl_stat.HomeTeam == ht) | (epl_stat.AwayTeam == ht)].tail(k)
    at_stats = epl_stat.loc[0:i-1][(epl_stat.HomeTeam == at) | (epl_stat.AwayTeam == at)].tail(k)
    epl_stat.at[i, 'pastHP'] = (ht_stats[ht_stats["AwayTeam"] == ht].sum().AwayPoint + ht_stats[ht_stats["HomeTeam"] == ht].sum().HomePoint)
    epl_stat.at[i, 'pastAP'] = (at_stats[at_stats["AwayTeam"] == at].sum().AwayPoint + at_stats[at_stats["HomeTeam"] == at].sum().HomePoint)

C:\Users\Admin\AppData\Local\Temp/ipykernel_14188/986985849.py:6: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  ht_stats = epl_stat.loc[0:i-1][(epl_stat.HomeTeam == ht) | (epl_stat.AwayTeam == ht)].tail(k)
C:\Users\Admin\AppData\Local\Temp/ipykernel_14188/986985849.py:7: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  at_stats = epl_stat.loc[0:i-1][(epl_stat.HomeTeam == at) | (epl_stat.AwayTeam == at)].tail(k)
C:\Users\Admin\AppData\Local\Temp/ipykernel_14188/986985849.py:8: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  epl_stat.at[i, 'pastHP'] = (ht_stats[ht_stats["AwayTeam"] == ht].sum().AwayPoint + ht_stats[ht_stats["HomeTeam"] == ht].sum().HomePoint)
C:\Users\Admin\AppData\Local\Temp/ipykernel_14188/986985849.py:9: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  epl_stat.at[i, 'pastAP'] = (at_stats[at_stats["AwayTeam"] == at].sum().AwayPoint + at_stats[at_stats["HomeTeam"] == at].sum().HomePoint)

In [117]:
epl_stat

,Wk,HomeTeam,AwayTeam,Result,FTHG,FTAG,HxG,AxG,HS,AS,HST,AST,pastHG,pastAG,pastHxG,pastAxG,HomePoint,AwayPoint,pastHP,pastAP
0,1.0,Crystal Palace,Arsenal,A,0,2,1.2,1.0,10.0,10.0,2.0,2.0,0.0,0.0,0.0,0.0,0,3,0.0,0.0
1,1.0,Fulham,Liverpool,D,2,2,1.2,1.2,9.0,11.0,3.0,4.0,0.0,0.0,0.0,0.0,1,1,0.0,0.0
2,1.0,Tottenham,Southampton,H,4,1,1.5,0.5,18.0,10.0,8.0,2.0,0.0,0.0,0.0,0.0,3,0,0.0,0.0
3,1.0,Newcastle Utd,Nott'ham Forest,H,2,0,1.7,0.3,23.0,5.0,10.0,0.0,0.0,0.0,0.0,0.0,3,0,0.0,0.0
4,1.0,Leeds United,Wolves,H,2,1,0.8,1.3,12.0,15.0,4.0,6.0,0.0,0.0,0.0,0.0,3,0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
361,38.0,Everton,Bournemouth,NaN,0,0,0.0,0.0,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0,0,0.0,0.0
362,38.0,Leicester City,West Ham,NaN,0,0,0.0,0.0,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0,0,0.0,0.0
363,38.0,Aston Villa,Brighton,NaN,0,0,0.0,0.0,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0,0,0.0,0.0
364,38.0,Leeds United,Tottenham,NaN,0,0,0.0,0.0,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0,0,0.0,0.0
365,38.0,Brentford,Manchester City,NaN,0,0,0.0,0.0,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0,0,0.0,0.0

In [118]:
epl_stat1 = epl_stat.drop(['HomePoint', 'AwayPoint'], axis=1)

In [119]:
epl_stat1[70:90]

,Wk,HomeTeam,AwayTeam,Result,FTHG,FTAG,HxG,AxG,HS,AS,HST,AST,pastHG,pastAG,pastHxG,pastAxG,pastHP,pastAP
70,9.0,Liverpool,Brighton,D,3,3,1.5,1.4,15.0,6.0,7.0,6.0,11.0,7.0,6.9,6.0,7.0,6.0
71,9.0,Fulham,Newcastle Utd,A,1,4,0.5,3.3,3.0,19.0,1.0,10.0,6.0,2.0,2.3,5.4,6.0,2.0
72,9.0,Bournemouth,Brentford,D,0,0,0.4,0.9,7.0,13.0,1.0,4.0,4.0,6.0,1.9,4.2,5.0,4.0
73,9.0,West Ham,Wolves,H,2,0,0.9,0.7,18.0,15.0,5.0,4.0,2.0,1.0,3.3,2.7,1.0,4.0
74,9.0,Manchester City,Manchester Utd,H,6,3,3.2,1.7,22.0,12.0,10.0,8.0,10.0,5.0,6.5,4.1,7.0,9.0
75,9.0,Leeds United,Aston Villa,D,0,0,0.4,2.2,9.0,19.0,1.0,7.0,3.0,3.0,4.5,1.6,1.0,4.0
76,9.0,Leicester City,Nott'ham Forest,H,4,0,1.3,1.1,17.0,10.0,7.0,3.0,4.0,4.0,3.9,4.0,0.0,0.0
77,10.0,Bournemouth,Leicester City,H,2,1,1.1,1.0,10.0,9.0,4.0,5.0,4.0,8.0,1.9,4.5,5.0,3.0
78,10.0,Newcastle Utd,Brentford,H,5,1,1.5,1.2,16.0,6.0,6.0,3.0,5.0,5.0,8.0,3.7,5.0,4.0
79,10.0,Manchester City,Southampton,H,4,0,2.4,0.2,21.0,5.0,8.0,0.0,10.0,1.0,6.4,3.2,7.0,0.0
80,10.0,Chelsea,Wolves,H,3,0,1.9,1.1,20.0,8.0,7.0,2.0,5.0,1.0,3.1,1.9,6.0,3.0
81,10.0,Brighton,Tottenham,A,0,1,0.7,0.8,14.0,8.0,4.0,3.0,9.0,9.0,5.4,6.7,4.0,6.0
82,10.0,West Ham,Fulham,H,3,1,2.4,0.7,17.0,8.0,8.0,2.0,3.0,5.0,3.0,2.1,3.0,3.0
83,10.0,Crystal Palace,Leeds United,H,2,1,1.1,1.0,13.0,10.0,5.0,4.0,2.0,3.0,2.4,3.1,2.0,2.0
84,10.0,Arsenal,Liverpool,H,3,2,2.7,1.1,11.0,8.0,7.0,3.0,7.0,5.0,5.2,5.1,6.0,5.0
85,10.0,Everton,Manchester Utd,A,1,2,0.6,1.4,11.0,12.0,2.0,4.0,3.0,7.0,4.1,4.7,7.0,6.0
86,10.0,Nott'ham Forest,Aston Villa,D,1,1,0.3,0.7,6.0,12.0,3.0,2.0,4.0,2.0,4.4,3.4,0.0,5.0
87,11.0,Brentford,Brighton,H,2,0,1.5,1.9,7.0,21.0,3.0,7.0,1.0,8.0,2.6,4.7,1.0,4.0
88,11.0,Leicester City,Crystal Palace,D,0,0,1.0,0.4,14.0,8.0,5.0,1.0,7.0,3.0,4.1,2.5,3.0,4.0
89,11.0,Fulham,Bournemouth,D,2,2,2.1,1.0,19.0,10.0,4.0,6.0,5.0,3.0,2.1,2.2,3.0,5.0

In [236]:
def Result(row):
    if(row.FTHG > row.FTAG):
        return 'H'
    elif(row.FTHG < row.FTAG):
        return 'A'
    elif(row.FTHG == row.FTAG):
        return 'D'
    else:
        return np.nan

Wk         float64
Home        object
Away        object
FTHG         int64
FTAG         int64
HxG        float64
AxG        float64
Result      object
pastHG     float64
pastAG     float64
pastHxG    float64
pastAxG    float64
HS         float64
AS         float64
HST        float64
AST        float64
dtype: object

In [ ]:
feat_table = epl
feat_table['HomeTeam']=feat_table['Home']
feat_table['AwayTeam']=feat_table['Away']
feat_table["pastHG"] = 0.0
feat_table["pastAG"] = 0.0
feat_table["pastHxG"] = 0.0
feat_table["pastAxG"] = 0.0

In [ ]:
k = 4
for i in range(0,366):
    row = feat_table.loc[i]
    ht = row.HomeTeam
    at = row.AwayTeam
    ht_stats = feat_table.loc[0:i-1][(feat_table.HomeTeam == ht) | (feat_table.AwayTeam == ht)].tail(k)
    at_stats = feat_table.loc[0:i-1][(feat_table.HomeTeam == at) | (feat_table.AwayTeam == at)].tail(k)
    feat_table.at[i, 'pastHG'] = (ht_stats[ht_stats["AwayTeam"] == ht].sum().FTAG + ht_stats[ht_stats["HomeTeam"] == ht].sum().FTHG)
    feat_table.at[i, 'pastAG'] = (at_stats[at_stats["AwayTeam"] == at].sum().FTAG + at_stats[at_stats["HomeTeam"] == at].sum().FTHG)
    feat_table.at[i, 'pastHxG'] = (ht_stats[ht_stats["AwayTeam"] == ht].sum().xG1 + ht_stats[ht_stats["HomeTeam"] == ht].sum().xG)
    feat_table.at[i, 'pastAxG'] = (at_stats[at_stats["AwayTeam"] == at].sum().xG1 + at_stats[at_stats["HomeTeam"] == at].sum().xG)